body {
  background-color: #ecf0f1;
}

hr {
  background-color: #ecf0f1;
  border-style: none;
  width: 5%;
  border-top-style: dotted;
  border-color: #2980b9;
  border-width: 5px;
}

img {
  width: 300px;
  height: 300px;
}

h1, h3{
  color: #33cccc;
}
